@model com.gameoverdev.Models.BLOG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BLOG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BLOG_TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOG_TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLOG_TEXT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOG_TEXT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BLOG_AUTHOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BLOG_AUTHOR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BLOG_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
